// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
	background-color: #0B29FF;
}

.toolbar-title {
	color: white;
}

.bar-button-menutoggle {
	color: white;
}

.show-back-button {
	color: white;
}

.ion-md-exca::before {
  //@extend .set-icons-general;
  content: url(../img/Exca.png);
  /*width: 6px;
  height: 4px;*/
  /*padding: 6px 4px 2px;*/
  margin-top: 2px;
  opacity: 0.9;
}

.ion-md-dumptruck::before {
  //@extend .set-icons-general;
  content: url(../img/dumptruck.png);
  /*width: 6px;
  height: 4px;*/
  /*padding: 6px 4px 2px;*/
  margin-top: 2px;
  opacity: 0.9;
}

.ion-md-dumptruck2::before {
  //@extend .set-icons-general;
  content: url(../img/dumptruck2.png);
  /*width: 6px;
  height: 4px;*/
  /*padding: 6px 4px 2px;*/
  margin-top: 2px;
  opacity: 0.9;
}

.ion-md-longtruck::before {
  //@extend .set-icons-general;
  content: url(../img/longtruck.png);
  /*width: 6px;
  height: 4px;*/
  /*padding: 6px 4px 2px;*/
  margin-top: 2px;
  opacity: 0.9;
}
